

<body>
  
<div class="container">
  <div class="info">
    <h1>Logics Attendance Application</h1>
  </div>
</div>
<div class="form">

<script>



</script>
  <div class="thumbnail"> <img src="images/ht.png"/></a></div>
  <div> <br/> <p id = "us"> </p> </div>
  <br/>
  <button id = "dboardlogout"> Logout </button>
 
  </form>

</div>

<script>
var data = sessionStorage.getItem('Logics_loggedin');

if(data === "talas")
{


		window.document.location.href = '/login';

}
var u = data;

 document.getElementById("us").innerHTML = "Welcome " + u;
</script>