
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


      <link rel="stylesheet" href="css/style.css">

  

<body>

<div class="container">
  <div class="info">
    <h1 id = "lpdes">Logics Attendance Application</h1>
  </div>
</div>
<div class="form">


  <div class="thumbnail"> <img src="images/ht.png" id = "lo" /></div>

 
  </form>

</div>
