<body>
  
<div class="container">
  <div class="info">
    <h1>Logics Attendance Application</h1>
  </div>
</div>
<div class="form">

<script>
	
 sessionStorage.setItem('Logics_loggedin', 'talas');

</script>
  <div class="thumbnail"> <a href="/login#"> <img src="images/ht.png"/></a></div>

 
  </form>

</div>
