<body>
  
<script>
var data = sessionStorage.getItem('Logics_loggedin');
  
if(data !== "talas" )
{

  window.document.location.href = '/dashboard';
}


</script>
      
<div class="container">
  <div class="info">
    <h1>Logics Attendance Application</h1>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="images/ht.png"/></div>
  
  </form>
  <form class="login-form">
    <input type="text" id = "lfusername" placeholder="Username"/>
    <input type="password" id = "lfpassword" placeholder="Password"/>
    <button id = "btnlogin">Login</button>

    
    <div id = "diverror" class="hid"> <br/> <p id = "lblerror"></p> </div>
    <p class="message">Not registered? <a href="/register#">Create an account</a></p>

  </form>
</div>
