<head>
  <meta charset="UTF-8">
  <title>Register</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


      <link rel="stylesheet" href="css/style.css">



<body>
  
<script>
var data = sessionStorage.getItem('Logics_loggedin');
  
if(data !== "talas" )
{

  window.document.location.href = '/dashboard';
}


</script>
      
<div class="container">
  <div class="info">
    <h1>Logics Attendance Application</h1>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="images/ht.png"/></div>
  <div class="register-form">
    <input type="text" id= "reg-username" placeholder="Username"/>
    <input type="password" id= "reg-password" placeholder="Password"/>
    <input type="password" id = "re-pass" placeholder="Re-enter Password"/>
    <button id = "btnreg">Create</button>
    <br/>
     <div class="hid"> <br/> <p id = "regerror"></p> </div>
    <p class="message">Already registered? <a href="/login">Sign In</a></p>
  </div>

</div>
